*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    max-width: 100vw;
    height: 100vh;
}

sup{
    font-size: small;
}

.telaCardapio{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#menuDrop{
    display: none;
    position: fixed;
    flex-direction: column;
    top: 0;
    right: 0;
    padding: 37px 10px;
    background-color: #ccc;
    width: 300px;
    height: 100%;
    z-index: 1000;
    animation-name: animasao;
    animation-duration: .2s;
    background-color: pink;
}

.btnClose{
    padding: 7px;
    border: none;
    width: 40px;
    height: 40px;
    position: relative;
    top: 5px;
    left: 220px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ee828b;
}

.iconClose{
    color: #fff;
}

@keyframes animasao{
    from{
        width: 0px;
    }
    to{
        width: 300px;
    }
    
}

/* Animação de fechamento */
@keyframes animasaoCloseMenu {
    from {
        width: 300px;
    }
    to {
        width: 0px;
    }
}

@keyframes animasaoBuyContent{
    from{
        max-width: 0vw;
    }
    to{
        max-width: 100vw;
    }
}

@keyframes animasaoCloseProduto {
    from {
        width: 100vw;
    }
    to {
        width: 0vw;
    }
}

.icons{
    width: 30px;
}

.menuCardapio{
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: #ee828b;
    padding: 40px 30px 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.searchBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchContent{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
}

.searchContent > input{
    border: none;
    outline: none;
    width: 250px;
}

.searchContent > input::placeholder{
    color: pink;
}

.searchContent > span{
    color: pink;
}

.searchBox > button{
    border: none;
    background-color: #fdd4d8;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
}

#icon{
    color: #fff;
}

.juicesContent > ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

.juicesContent > ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.juicesContent > ul li img{
    width: 45px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.juicesContent > ul li p{
    margin-top: 10px;
    font-size: small;
    color: #fff;
}

.cardapioVendas{
    display: flex;
    height: 100%;
}

.produtosDescrisao{
    height: 100%;
    width: 100%;
}

.produtosDescrisao > ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.produtosDescrisao > ul li{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.imgContainer{
    background-color: #fff0f2;
    padding: 15px;
}

.firstChild{
    border-top-left-radius: 20px;
}

.lastChild{
    border-bottom-left-radius: 20px;
}

.backgroundColor{
    background-color: pink;
    padding: 10px 35px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backgroundColor > img{
    width: 80px;
    filter: drop-shadow(-20px 0px 10px rgba(0,0,0,0.5));
}

.text-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    gap: 15px;
}

.contadorContent{
    display: flex;
    gap: 30px;
}

.itemContador{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: pink;
    padding: 5px;
    border-radius: 10px;
}

.itemContador > button{
    border: none;
    background-color: transparent;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: medium;
    color: #fff;
    font-weight: bold;
    transition: .2s;
    border-radius: 5px;
}

.itemContador > span{
    color: #fff;
    font-weight: bold;
}

.itemContador > button:hover{
    background-color: rgb(255, 209, 217);
}

.pink{
    background-color: pink;
}

.Dois{
    background-color: #FF91A4;
}

.tres{
    background-color:  #fc7c93;
}

.quatro{
    background-color:  #fc5f8e ;
}

.yellow{
    background-color:  #ff4a77;
}

/* tela de finalização de compra do produto */
.buyContent{
    height: 100vh;
    max-width: 100vw;
    display: none;
    position: fixed;
    top: 0;
    background-color: #fff;
    animation: animasaoBuyContent;
    animation-duration: .1s;
}

.top{
    display: flex;
    flex-direction: column;
   height: 50%; 
   padding: 30px;
   border-bottom-left-radius: 35px;
   border-bottom-right-radius: 35px;
}

.top > img{
    height: 90%;
    object-fit: contain;
    filter: drop-shadow(-20px 5px 10px rgba(0,0,0,0.4));
}

.bottom{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
}

.voltar{
    position: relative;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgb(254, 204, 204);
}

.like{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 30px;
    top: 46%;
    color: rgb(204, 204, 204);
    transition: .3s;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

.buy{
    border-radius: 50px;
    border: none;
    padding: 15px;
    width: 80%;
    font-size: larger;
    font-weight: bold;
}